/********* Tag Selector ********/
body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  font-family: 'Parisienne', cursive;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  color: #46b7b9;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  margin: 0 auto 25px auto;
  color: #46b7b9;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  color: #87dfd6;
}

a {
  font-family: 'Montserrat', sans-serif;
  color: #2f9296;
  text-decoration: none;
  font-weight: bold;
}

p {
  margin: 0;
}

div {
  margin: 0;
}

hr {
  border: none;
  border-top: dotted 10px;
  border-color: #dff5f2;
  width: 5%;
  margin-bottom: 75px;
}

/******** Class Selector ********/
.top-container {
  background-color: #dff5f2;
  position: relative;
  width: 100%;
  padding-top: 150px;
}

.bottom-container {
  background-color: #46b7b9;
  padding: 50px;
}

.profile {
  width: 30%;
  padding: 50px 50px;
  margin: 0 auto 0 auto;
  line-height: 2;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.contact-me {
  padding: 0 0 100px 0;
}

.top-cloud {
  width: 25%;
  height: auto;
  position: absolute;
  right: 5%;
  top: 25px;
}

.bottom-cloud {
  width: 25%;
  height: auto;
  position: absolute;
  left: 5%;
  bottom: 100px;
  margin-bottom: 25px;
}

.mountain {
  position: relative;
  bottom: 0;
}

.profile-img {
  height: 200px;
  width: 200px;
  border-radius: 200px;
}

.skill-img {
  height: 25%;
  width: 25%;
}

.android {
  float: left;
  margin-right: 30px;
}

.ios {
  float: right;
  margin-left: 30px;
}

.web {
  float: left;
  margin-right: 30px;
}

.contact-me-text {
  width: 50%;
  margin: 0 auto 50px auto;
  line-height: 2;
}

.btn {
  padding: 15px;
  border-radius: 5px;
  margin-top: 100px;
  color: #2f9296;
  background: #46b7b9;
}

.twitter {
  margin: 0 50px 0 50px;
}

.copyright {
  margin: 25px 0 0 0;
  color: #ffffff;
}
/*********** id Selector ************/
